body {
	font-family: 'Montserrat', sans-serif;
	background-color: #5e80a5;
	background-image: url(/static/images/brick-wall.png);
	color: #dadbd4;
}

.navbar {
	background-color: #102a3f !important;
}


.homepage {
	text-align: center;
}

.homepage-text {
	margin-top: 10px;
	color: #dadbd4 !important;
	font-weight: 800;
}

.homepage-text-small {
	font-weight: 600;
	color: #dadbd4 !important;
}


#itinerary-form {
	display: none;
}

#edit-form{
	display: none;
}

#entry-form-edit {
	display: none;
}

#new-entry-form{
	display: none;
}

.card {
	background-color: #dadbd4 !important;
	color: #102a3f;

}

.card-header {
	background-color: #5e80a5 !important;
	color: #dadbd4 !important;
}

.card-link {
	color: #dadbd4 !important;
}

.card-link:hover {
	color: #1d3c5b !important;
	text-decoration: underline;
}
.list-group-item {
	background-color: #dadbd4 !important;
	color: #1d3c5b !important;
}
.card-columns {
	column-count: 4;
}
.card-img-top {
	object-fit: cover;
	width: 100%;
}
.card-horizontal {
	display: flex;
	flex: 1 1 auto
}

.entry-card img {
	width: 30%;
}


.navbar-brand img {

	padding-top: 0;
	height: 10%;
	width: 10%;
}

.navbar-brand {
	align-self: flex-start;

}

.navbar .navbar-nav {
	display: inline-flexbox;
	float: none;
	vertical-align: top;
}

.carousel-caption {
	background: #696b6d80;
}

.carousel {
	background-color: #102a3f;
	margin-top: 20px;
	padding: 1%;
}

.btn-primary {
	background-color: #102a3f !important;
	border-color: #102a3f !important;
}

.btn-outline-primary {
	background-color: #102a3f !important;
}

.btn-light {
	background-color: #dadbd4 !important;
	border-color: #dadbd4 !important;
	outline-color: #102a3f  !important;
}

.border-dark {
	background-color: #102a3f !important;
}