body {
	font-family: 'Montserrat', sans-serif;
	background-image: url('static/images/stardust.png') !important;
	background-repeat: repeat;
}
.bg-image {
	background-image: url('static/images/stardust.png') !important;
	background-repeat: repeat;
}

.homepage {
	text-align: center;
}

#itinerary-form {
	display: none;
}

#edit-form{
	display: none;
}


#new-entry-form{
	display: none;
}

.card-columns {
	column-count: 4;
}
.card-img-top {
	object-fit: cover;
}
.card-horizontal {
	display: flex;
	flex: 1 1 auto
}

.entry-card img {
	width: 30%;
}


.navbar-brand img {

	padding-top: 0;
	height: 10%;
	width: 10%;
}

.navbar-brand {
	align-self: flex-start;

}

.navbar .navbar-nav {
	display: inline-flexbox;
	float: none;
	vertical-align: top;
}

.carousel-caption {
	background: #696b6d80;
}