body {
	font-family: sans-serif;
}

#itinerary-form {
	display: none;
}

#edit-form{
	display: none;
}


#new-entry-form{
	display: none;
}

.card-columns {
	column-count: 4;
}
.card-img-top {
	object-fit: cover;
}
.card-horizontal {
	display: flex;
	flex: 1 1 auto
}

.entry-card img {
	width: 30%;
}