<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}Itinerator{% endblock %}
  </title>
  <!-- CSS & Bootstrap -->
  <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
  crossorigin="anonymous">
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">
    
  <nav>
    <div>
      <a href="/">Home</a>
        <div class="nav-search">
          <div class="form-group mb-2">
            <form action="/api/destination/search" class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <input 
                  type="search"
                  class="form-control"
                  placeholder="Where are you heading?" 
                  name="search_input"  />
                <button type="button" class="btn btn-primary"> Go </button>
              </div>
            </form>
          </div>
        </div>
      <a href="/profile">Profile</a>
      </div>
    </nav>
  {% block head %}
    
  {% endblock %}
</head>

<body>
	{% for msg in get_flashed_messages() %}
		<p class="flash-msg">
			{{ msg }}
		</p>
	{% endfor %}

	{% block body %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" 
  crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.js" 
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
  crossorigin="anonymous"></script>

  <script src="/static/js/forms.js"></script>

</body>
</html>