<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
</head>
<body>
    {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }}
        </p>
    {% endfor %}

    <div id="flash"></div>

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
    
</body>
</html>