{% extends 'base.html' %}

{% block title %}Itinerary Details{% endblock %}


{% block body %}

  <ul> <H2>{{ itinerary.name }}</H2>
        <p id="itinerary-start-date">{{ itinerary.start_date }}</p>

        <button type="button"
                class="btn btn-primary"
                id="add-entry">Add Entry</button>
        
        <div class="container" id="new-entry-form">
          <form action="/api/new-entry" method="POST" id="entry-form">
            <div class="form-group mx-sm-3 mb-2">
              <div class="form-group row">
                <label for="new-name">Name: </label>
                <input type="text"
                        class="form-control"
                        name="new-name"
                        required>
              </div>
              <div class="form-group row">
                <label for="new-location">Address: </label>
                <input type="text"
                      class="form-control"
                      name="new-location">
              </div>
              <div class="form-group row">
                <label for="description">Description: </label>
                <textarea class="form-control"
                          name="description"></textarea>
              </div>
              <div class="form-group-row">
                <label for="new-url">Website: </label>
                <input type="url"
                      class="form-control"
                      name="new-url">
              </div>
              <div class="form-group row">
                <label for="image-url">Link to Photo:</label>
                <input type="url"
                      class="form-control"
                      name="image-url">
              </div>
              <div class="form-group row">
                <label for="add-comment">Any comments to save?</label>
                <textarea class="form-control"
                          name="add-comment"></textarea>
              </div>
              <div class="form-group row">
                <label for="trip-day">Which day are you thinking about going?</label>
                  <input type="number"
                        class="form-control"
                        name="trip-day">
              </div>
              <input type="hidden" 
                      id="itinerary-id" 
                      name="itinerary-id"
                      value="{{ itinerary.id }}">
              <button type="submit"
                      class="btn btn-primary"
                      id="submit-entry">Submit</button>
            </div>
          </form>
        </div>
    
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <!-- <div class="col-md-8"> -->
      
    {% for item in entry_details %}
    
      <div  class="card mb-3"
            style="max-width: 800px"
            id="{{ item.xid }}">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if item.image == None or item.image == '' %}
                  <img  class="card-img"
                        src="{{ url_for('static', filename = 'images/CompassLogo.png') }}"
                        >
                
                {% else %}
                  <img  class="card-img"
                        src="{{ item.image }}"
                        >
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.description }}</p>
                  <p class="card-text">{{ item.comment }}</p>
                  <p class="card-text">
                    <small class="text-muted">
                      <a href="{{ item.url}}">More Information</a>
                    </small>
                  </p>
                </div>
              </div>
            </div>



            
        
        <div class="card-footer">
          <div class="form-group mb-2">
            <button type="button" 
            class="btn btn-primary" 
            data-toggle="collapse"
            data-target="#entry-edit-{{ item.id }}"
            href="#entry-edit-{{ item.id }}"
            id="edit-entry"> Edit </button>
        </div> 
      </div>
    </div>
        
        
        
  
            <div class="container" id="entry-edit-{{ item.id }}">
            <form action="/api/update-entry/{{ item.itinerary_id }}" method="POST">
  
                <div class="form-group mx-sm-3 mb-2">
                  <div class="form-group row">
                    <label for="name-edit">Change name: </label>
                    <input type="text"
                          class="form-control"
                          value="{{ item.name }}"
                          name="name-edit">
                  </div>
                  <div class="form-group row">
                    <label for="url-edit">Update website: </label>
                    <input type="text"
                          class="form-control"
                          value="{{ item.url }}"
                          name="url-edit">
                  </div>
                  <div class="form-group row">
                    <label for="comment-edit">Change comments: </label>
                    <textarea
                          class="form-control"
                          name="comment-edit">{{ item.comment }}
                        </textarea>
                  </div>
                  <button type="submit" 
                          class="btn btn-primary"> Update </button>
                </div>
            </form>
            
            <button type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#delete-entry-modal-{{ item.id }}">Delete</button>
            <div class="modal fade"
                  id="delete-entry-modal-{{ item.id }}"
                  tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete-title">{{item.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you would like to delete {{item.name}} from your itinerary?
                  </div>
                  <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    
                    <form id="delete-entry" method="POST">
                      <button type="button" 
                              class="btn btn-primary"
                              name="{{item.id}}"
                              value="{{item.id}}"
                              id="delete-confirmed">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          
      {% endfor %}
    </div>
    </div>
    </div>
  </div>
    </ul>

{% endblock %}