{% extends 'base.html' %}

{% block title %}{{ username }} Profile{% endblock %}


{% block body %}
  <h1>Hi {{ username }}!</h1>
  <ul> <H2>Upcoming adventures:</H2>
    {% for item in itineraries %}
      <li>
        <h3><a href="/itinerary/{{ item.id }}">
          {{ item.name }}</a></h3>
        <p>{{ item.start_date }}</p>
      </li>
      
    {% endfor %}
  </ul>

  <div class="form-group mb-2">
    <button type="button" 
    class="btn btn-primary" 
    id="new-itinerary"> Create New Itinerary </button>

    <div class="container">
      <form action="/api/create-itinerary" method="POST">
          
          <div class="form-group mx-sm-3 mb-2">
            <div class="form-group row">
              <label for="new-name">Name: </label>
              <input type="text"
                    class="form-control"
                    placehoder="Where are heading?""
                    name="new-name">
            </div>
            <div class="form-group row">
              <label for="start-date">Start Date: </label>
              <input type="date"
                    class="form-control"
                    name="start-date">
            </div>
            <div class="form-group row">
              <label for="end-date">End Date: </label>
              <input type="date"
                    class="form-control"
                    name="end-date">
            </div>
            <button type="submit" 
                    class="btn btn-primary"> Create </button>
          </div>
      </form>
    </div>

{% endblock %}