{% extends 'base.html' %}

{% block title %}{{ username }} Profile{% endblock %}


{% block body %}
  <h1>Hi {{ username }}!</h1>
  <ul> <H2>Upcoming adventures:</H2>
    {% for item in itineraries %}
      <li>
        <h3><a href="/itinerary/{{ item.id }}">
          {{ item.name }}</a></h3>
        <p>{{ item.start_date }}</p>
      </li>
    {% endfor %}
  </ul>

  <div class="form-group mb-2">
    <button type="button" 
    class="btn btn-primary" 
    id="new-itinerary"> Create New Itinerary </button>

{% endblock %}